<%# views/gameDetails.ejs %>

<% extend('layout') %>
<br/>

<!-- <%= game %> -->
<!-- <%= team1 %> -->
<!-- <%= team2 %> -->

<div class="row">

  <table class="table">
    <tbody>
      <td>  <%= game.GameId %></td>
      <td>  <%= team1.TeamName %></td>
      <td>  <%= team2.TeamName %></td>

      
      <td> <%= team1.TeamName %></td>
      <td> <img src="/img/nbalogo/<%=team1.TeamName%>.svg"></td>
      <td><%= team2.TeamName %></td>
      <td> <img src="/img/nbalogo/<%=team2.TeamName%>.svg"></td>

    </tbody>
  </table>
</div>

<div class="row">
<% actions.forEach(function(action) { %>
      <ul><%= action %><% for (var prop in action ) { %>
        <% if (prop === 'FieldGoalsMade') { %>
          <li><%= prop %>: <%= action[prop] %></li>
        <% } %>
        <% if (prop === 'PlayerId') { 
          players.forEach((player) => {
            if (player.PlayerId === action['PlayerId']) { %>
              <li><%= prop %>: <%= player['PlayerName'] %></li>
            <% }
          })
         }
      } %></ul>
<% }); %>

</div>
