<%# views/gameDetails.ejs %>

<% extend('layout') %>
<br/>

<!-- <%= game %> -->

<div class="row">

  <table class="table">
    <tbody>
      <td>  <%= game.GameId %></td>
      <td>  <%= team.Team1Id %></td>

      <td>  <%= game.Team1Id %></td>
      <td>  <%= game.Team2Id %></td>
      <td>  <%= game.ResultOfTeam1 %></td>



    </tbody>
  </table>
</div>
