<%# views/gameDetails.ejs %>

<% extend('layout') %>
<br/>

 <%= game %> 
 <%= team1 %> 
 <%= team2 %> 




<div class="row">

  <table class="table">
    <tbody>
      <td>  <%= game.GameId %></td>
      <td>  <%= team1.TeamName %></td>
      <td>  <%= team2.TeamName %></td>

      

    </tbody>
  </table>
</div>
<div class="row">
<% actions.forEach(function(action) { %>
      <ul><%= action %><% for (var prop in action ) { %>
        <li><%= prop %>: <%= action[prop] %></li>
      <% } %></ul>
<% }); %>

</div>
